*{
  /* color  */

  --background-color:#f9f9f9ff;
  --primary-color:#1b94f1ff;
  --secondary-color:#bb2124ff;
  --tertiary-color:#154a72ff;
  --light-color:#7d7d7dff;
  --dark-color:#101010ff;

  /* reset  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: var(--light-color);
  background-color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app-x {
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
position: fixed;
overflow: hidden;
overflow-y: auto;   
flex-direction: column;
justify-content: space-between;
}